main {
    padding-top: 1rem;
}

.form-title {
    text-align: center;
    font-size: 1.8rem;
    color: #212121;
}

.input-form {
    padding: 1rem;
}

.input-form label {
    font-weight: bold;
}

.input-form label,
.input-form input,
.input-form select {
    display: block;
    margin-top: 1rem;
    width: 100%;
}


.input-form select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.input-form input:focus,
.input-form select:focus {
    outline: none;
    background: #d8f3df;
    border-color: #2ddf5c;
}


.input-form input.invalid,
.input-form select.invalid,
.input-form :invalid {
    border-color: red !important;
    background: #faacac;
}

.input-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
}

@media (min-width: 40rem) {
    .input-form {
        margin: auto;
        width: 25rem;
    }
}
